.main-nav {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-heading {
    background-color: #101010;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #F3F5F7;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0A0A;
    padding: 10px 16px;
    border-radius: 15px;
    margin-top: 30px;
    border: 2px solid #383939;
    margin-left: 20px;
    margin-right: 20px;
}

.search-input {
    padding: 1px;
    margin-left: 10px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    caret-color: #F3F5F7;
    color: #F3F5F7;
}

.search-result {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.search-result-item {
    display: flex;
    flex-direction: column;
    /* background-color: #181818; */
    /* background-color: red; */
    border-radius: 10px;
    padding: 12px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
    /* transition: transform 0.3s ease-in-out; */
}

.search-post-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #F3F5F7;
    font-size: 15px;
}

.search-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.search-user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-user-info {
    display: flex;
    flex-direction: column;
}

.search-post-text {
    margin-top: 29px;
    margin-left: 4px;
    line-height: 1.5;
    color: #F3F5F7;
    font-weight: bold;
    font-size: 15px;
}

.search-profile-name {
    font-size: 15px;
    margin-left: 6px;
    margin-top: 2px;
    font-weight: bold;
    color: #777777;
}

.search-follow-button {
    background-color: #201d1d;
    color: #F3F5F7;
    border: 1px solid #696969;
    padding: 6px 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.search-followers {
    font-size: 15px;
    font-weight: lighter;
    color: #F3F5F7;
    margin-top: 9px;
    margin-left: 6px;
}

.search-suggestions {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
}