@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* //MainPage-Style */
.main-heading {
  background-color: #101010;
  padding: 14px;
  color: #F3F5F7;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-posts-container {
  background-color: #181818;
  padding-top: 10px;
  height: auto;
  width: 100%;
  border-radius: 16px;
}

.main-new-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  border-bottom: #383939 1px solid;
}

.main-new {
  color: #696969;
  padding: 10px 1px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.main-dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main-post-button {
  background-color: #181818;
  border: 1px solid #383939;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 65px;
  margin-top: 15px;
  border-radius: 12px;
  cursor: pointer;
  color: #F3F5F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-post-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-post-item {
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-bottom: gray 0.5px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.main-post-user {
  display: flex;
  width: 100%;
}

.main-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.main-username-time {
  margin-left: 10px;
  display: flex;
  gap: 10px;
  color: #777777;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-post-text {
  text-align: left;
  margin-left: 10px;
  color: #F3F5F7;
}

.main-post-image {
  width: 50%;
  height: 50%;
  margin-left: 50px;
  object-fit: cover;
  border-radius: 8px;
  align-self: flex-start;
}

.main-profile-name {
  color: #F3F5F7;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-profile-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

/* //Search-Page-Style  */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A0A0A;
  padding: 10px 16px;
  border-radius: 15px;
  margin-top: 30px;
  border: 2px solid #383939;
  margin-left: 20px;
  margin-right: 20px;
}

.search-input {
  padding: 1px;
  margin-left: 10px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  caret-color: #F3F5F7;
  color: #F3F5F7;
}

.search-result {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.search-result-item {
  display: flex;
  flex-direction: column;
  /* background-color: #181818; */
  /* background-color: red; */
  border-radius: 10px;
  padding: 12px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
  /* transition: transform 0.3s ease-in-out; */
}

.search-post-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #F3F5F7;
  font-size: 15px;
}

.search-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.search-user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-user-info {
  display: flex;
  flex-direction: column;
}

.search-post-text {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.5;
  color: #F3F5F7;
  font-weight: bold;
  font-size: 15px;
}

.search-profile-name {
  font-size: 15px;
  font-weight: bold;
  color: #777777;
}

.search-follow-button {
  background-color: #201d1d;
  color: #F3F5F7;
  border: 1px solid #696969;
  padding: 6px 24px;
  border-radius: 10px;
  cursor: pointer;
}

.search-suggestions {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #777777;
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 30px;
}

/* //Comment-Page-Style  */


.comment-modal {
  background-color: #181818;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  height: 50%;
  overflow: auto;
  padding: 20px;
}

.comment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1999;
}

.comment-post-image {
  width: 25%;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 50px;
}

.comment-post-image-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.comment-user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.comment-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.comment-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;

  /* h3 {
          font-size: 1.5rem;
          font-weight: bold;
          color: #333; */
}

.comment-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #000;
  }
}


.comment-the-line {
  display: inline-block;
  width: 2px;
  height: 200px;
  background-color: #f6f1f1;
}

.comment-body {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #F3F5F7
  ;
  background-color: #181818;
  resize: none;
  margin-bottom: 20px;
}


.comment-footer {
  display: flex;
  justify-content: flex-end;
}

.comment-submit-btn {
  background-color: #181818;
  color: #575757;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid #575757;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 480px;

}

.Comment-replyButton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.comment-likeButton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  background-color: red;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #fff;
}

.comment-user {
  margin-top: -3px;
}